<!doctype html>
<head>
  <title>Chart</title>
  <meta charset="UTF-8"/>
  <script src="/nm/chart.js/dist/Chart.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="/js/js-util.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <noscript>
    현재 사용 중인 브라우저는 스크립트를 지원하지 않거나, 해당 기능이 활성화되어 있지 않습니다!
  </noscript>
  <style>
    optgroup {
      background-color: black;
      color:white;
    }
    #statList, #searchOptions {
      display:inline-flex;
    }

    #searchOptions > span {
      margin-right: 25px;
      padding: 5px;
    }
  </style>
  <script>

    let searchOptions;
    let statList;
    const url = window.location.pathname
    const filename = url.substring(url.lastIndexOf('/')+1);
    let query;
    
    window.onload = function(){
      query = JsUtil.getUrlParams();
    
      JsUtil.callAjax('POST', '/chart/stat/list', function(data){
        statList = new Vue({
          el: '#statList',
          data: {
            items:JSON.parse(data)
          }
        })
      })

      const today = new Date();
      const monthago = new Date();
      monthago.setMonth(today.getMonth()-1);

      sdate = query.start || monthago.toISOString();
      stime = query.start || monthago.toISOString();
      edate = query.end || today.toISOString();
      etime = query.end || today.toISOString();

      searchOptions = new Vue({
        el: '#searchOptions',
        data: {
          sort: '_id',
          order: '-1',
          limit: 10,
          type: 'bar',
          sdate: sdate.substring(0,10),
          stime: stime.substring(11,16),
          edate: edate.substring(0,10),
          etime: etime.substring(11,16),
        }
      })

      const data = JSON.parse('<%-data%>');
      const option = JSON.parse('<%-option%>');
        
      drawGraph('myChart', data, option);
    }

    function search(){
      var selectStatList = document.getElementById("selectStatList");
      var selectValue = selectStatList.options[selectStatList.selectedIndex].value;
      var selectText = selectStatList.options[selectStatList.selectedIndex].text;

      const stime = `${searchOptions.sdate}T${searchOptions.stime}`
      const etime = `${searchOptions.edate}T${searchOptions.etime}`
      const url = `/chart/stat/${selectValue}?type=${searchOptions.type}&sort_key=${searchOptions.sort}&sort_value=${searchOptions.order}&limit=${searchOptions.limit}&start=${stime}&end=${etime}`
      const req_url = `${url}&dataonly`
     
      JsUtil.callAjax('GET', req_url, function(data){
        drawGraph('myChart', JSON.parse(data), {type:searchOptions.type, title:selectText});
        history.pushState(null, null, url);
      })
    }
    </script>
    <script>
    
  let currentChart = null;

  function drawGraph(id, data, option){
    if(currentChart != null){
      currentChart.destroy();
    }
    if(typeof data.length === "undefined"){
      return;
    }

    const graph_options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title:{
              display: true,
              text: option.title,
              fontSize: 24,
              fontColor: 'black'
            }
        };

    let val;
    if(!option.isTimegraph){
      val = data.map(function(item){
      return item.value;
      });
    }
    else {
      const data_time = data.map(i => i._id.date);
      const max_time = data_time[data_time.length-1];
      const min_time = data_time[0];
      graph_options.title.text = '총 사용자 접근 횟수'
      graph_options.scales.xAxes = [{
                type: 'time',
                isoWeekday: true,
                time:{unit:'day',
                      displayFormats: {
                        'day': 'YYYY-MM-DD'
                      }                      
                    },
                ticks:{
                  min: moment(min_time).subtract(3, 'h'),
                  max: moment(max_time).add(3, 'h'),
                  source: 'auto'
                }
            }]

      val = data.map(function(item){
      return {x:item._id.date, y:item.value};
      });
    }

    const key = data.map(function(item){
      return item._id;
    })
    const color = new JsUtil.ColorUtil(data);
    const element = document.getElementById(id);
    var ctx = element.getContext('2d');
    ctx.clearRect(0, 0, element.width, element.height);
    ctx.beginPath();
  
    currentChart = new Chart(ctx, {
        type: option.type || 'bar' ,
        data: {
            labels: key,
            datasets: [{
                label: 'Value',
                data: val,
                backgroundColor: color.randomColorWithOpacity(0.3),
                borderColor: color.randomColorWithOpacity(0.8),
                borderWidth: 3,
                fill:false,
                pointBorderWidth:3,
                pointRadius:5,
                pointBorderColor: 'rgba(225, 15, 15, 0.8)',
                cubicInterpolationMode: 'monotone'
            }]
        },
        options: graph_options
    });
  }
    </script>
</head>
<body>
  <div id="statList" v-if="filename !== 'time'">
    <select id="selectStatList" title="data">
      <optgroup v-for="item in items" :label="item.key">
        <option v-for="i in item.data" :value="i.key">{{ i.value }}</option>
      </optgroup>
    </select>
  </div>
  <div id="searchOptions" v-if="filename !== 'time'">
    <span>Sort : 
      <input type="radio" id="sort-id" name="id" value="_id" v-model="sort"/>
      <label for="sort-id">ID</label>
      <input type="radio" id="sort-value" name="value" value="value" v-model="sort"/>
      <label for="sort-value">값</label>
    </span>
    <span>Order : 
      <input type="radio" id="order-asc" name="asc" value="1" v-model="order"/>
      <label for="order-asc">▲</label>
      <input type="radio" id="order-desc" name="desc" value="-1" v-model="order"/>
      <label for="order-desc">▼</label>
    </span>
    <span>Limit : 
      <input type="text" name="limit" v-model.number="limit" type="number"/>
    </span>
    <span>Time : 
      <input type="date" v-model="sdate"/>
      <input type="time" v-model="stime"/>-
      <input type="date" v-model="edate"/>
      <input type="time" v-model="etime"/>
    </span>
    <span>Chart Type : 
      <input type="radio" id="type-bar" name="bar" value="bar" v-model="type"/>
      <label for="type-bar">Bar</label>
      <input type="radio" id="type-doughnut" name="doughnut" value="doughnut" v-model="type"/>
      <label for="type-doughnut">Doughnut</label>
      <input type="radio" id="type-line" name="line" value="line" v-model="type"/>
      <label for="type-line">Line</label>
    </span>
    <button @click="search()">검색</button>
  </div>

  <div style="width:85vw;height:30vh">
    <canvas id="myChart"></canvas>
  </div>
</body>